@tailwind base;
@tailwind components;
@tailwind utilities;

@media (hover: hover) {
  .school-list:has(:hover) > .school-list__item:not(:hover) {
    opacity: 0.35;
  }
}

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;

    --link: 217 91% 60%;

    --radius: 0.5rem;
  }

  .text-gradient {
    --text-gradient: linear-gradient(180deg, #fff, #adadad);
    /* --text-gradient: linear-gradient(180deg, #555, #000); */
    background: var(--text-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .text-gradient-2 {
    /* --text-gradient: linear-gradient(180deg, #fff, #adadad); */
    --text-gradient: linear-gradient(180deg, #bbbbbb, #6b6b6b);
    background: var(--text-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-black text-foreground;
  }
}

#schedule-main {
  --multi: 0.9;
  --text-width: 64px;
  --lesson-gap: calc(12px * var(--multi));
  --offset-top-text: calc(18px * var(--multi));
  --offset-top-lesson: calc(0px * var(--multi));
  --height-hour: calc(68px * var(--multi));
}

@media screen and (min-width: 1536px) {
  #schedule-main {
    --multi: 1;
  }
}

@media screen and (display-mode: standalone) {
  * {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
  }
  img {
    -webkit-user-select: none;
    user-select: none;
    touch-action: none;
    pointer-events: none;
  }
  a {
    -webkit-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
  }
}
